@media all and (max-width:1200px){
    .default-btn {
        font-size: 13px;
        padding: 9px 25px;
    }
    ul.header-menu li a {
        font-size: 13px;
    }
    ul.header-menu li a span {
        font-size: 8px;
    }
    .header-call-text span {
        font-size: 13px;
    }
    .header-call-text a {
        font-size: 13px;
    }
    .header-call-icon img {
        width: 19px;
    }
    .slider-text h1 {
        font-size: 50px;
        margin-top: 10px;
        line-height: 1.2;
    }
    .slider-text p {
        font-size: 14px;
        margin-bottom: 1.5rem;
    }
    .slider-saction {
        height: 76vh;
    }
    .about {
        padding: 80px 0;
    }
    .about-img-info {
        bottom: 8px;
        right: 88px;
        width: 150px;
        height: 150px;
    }
    .about-img-info h2 {
        font-size: 45px;
    }
    .about-img-info h5 {
        font-size: 10px;
        font-weight: 400;
    }
    .default-heading h3 {
        font-size: 25px;
        margin-top: 8px;
    }
    .default-heading p {
        font-size: 14px;
    }
    .default-heading span {
        font-size: 15px;
    }
    .default-heading ul li {
        font-size: 13px;
    }
    .default-heading ul li img {
        width: 14px;
    }
    .process-img h2 {
        font-weight: 500;
        font-size: 27px;
    }
    .process-img p {
        font-size: 14px;
    }
    .process-card-item .card-body h4 {
        font-size: 20px;
        margin: 15px 0;
    }
    .process-card-item .card-body h6 {
        font-size: 13px;
        line-height: 1.6;
    }
    .process-card-item:hover .card-logo-item-1 {
        height: 40px;
        width: 40px;
    }
    .card-logo-item-1 {
        height: 40px;
        width: 40px;
    }
    .card-logo {
        height: 70px;
        width: 70px;
    }
    .animate-btn-img {
        width: 40px;
        height: 40px;
    }
    .animate-btn {
        width: 60px;
        height: 60px;
    }
    @keyframes mymove {
        0% {
            transform: scale(0);
            opacity: 1;
        }
        35% {
            transform: scale(0);
            opacity: 1;
        }
        50% {
            transform: scale(1.2);
            opacity: 0.8;
        }
        100% {
            transform: scale(1.4);
        }
    }
    .loan {
        padding-top: 100px;
        padding-bottom: 75px;
    }
    .default-title h3 {
        font-size: 32px;
    }
    .default-title p {
        font-size: 14px;
        max-width: 62%;
    }
    .loan-left h1 {
        font-size: 30px;
    }
    .loan-item-right h4 {
        font-size: 22px;
        margin-bottom: 8px;
    }
    .loan-item-right p {
        line-height: 1.7;
        font-size: 15px;
    }
    .load-item-left span {
        width: 35px;
        height: 35px;
        line-height: 35px;
        font-size: 20px;
    }
    .loan-right h2 {
        font-size: 30px;
        margin-top: 8px;
    }
    .call-sec-item-left h1 {
        font-size: 29px;
    }
    .call-sec-item-right a {
        font-size: 29px;
    }
    .call-sec-item-right-img img {
        width: 25px;
    }
    .call-sec-item-right-img {
        width: 55px;
        height: 55px;
        line-height: 55px;
    }
    .value {
        padding: 75px 0;
    }
    .value-info {
        margin-top: 35px;
    }
    .value-item-icon img {
        width: 40px;
    }
    .value-item-text h4 {
        font-size: 21px;
    }
    .value-item-text p {
        font-size: 14px;
        line-height: 1.7;
    }
    .service-nav li a span i {
        width: 60px;
        height: 60px;
        font-size: 32px;
        line-height: 60px;
    }
    .service-nav li a h3 {
        font-size: 16px;
    }
    .service-media-text h4 {
        font-size: 21px;
    }
    .service-media-text p {
        line-height: 1.5;
        font-size: 14px;
        margin-bottom: 15px;
    }
    .service-media-text h4 {
        font-size: 19px;
    }
    .service-media-text ul li a {
        font-size: 15px;
        margin-bottom: 10px;
    }
    .service-media-text ul li::before {
        width: 8px;
        height: 8px;
    }
    .client-media-text p {
        font-size: 19px;
        margin-top: 45px;
    }
    .client-media-img-icon span {
        width: 65px;
        height: 65px;
        line-height: 65px;
        font-size: 40px;
    }
    .team {
        padding: 70px 0;
    }
    .team-member-item h5 {
        font-size: 18px;
        margin-top: 20px;
        margin-bottom: 5px;
    }
    .team-member-item p {
        font-size: 15px;
    }
    .story-item .card-body .card-text {
        font-size: 20px;
    }
    .story-item .card-body a {
        font-size: 14px;
        margin-top: 0px;
    }
    .footer-section1 img {
        margin-bottom: 25px;
    }
    .footer-section1 p {
        color: white;
        line-height: 1.8;
        font-size: 15px;
        margin-bottom: 20px;
    }
    .footer-section1 ul li a {
        padding: 0 6px;
        font-size: 14px;
    }
    .footer-saction-2 h5 {
        font-size: 18px;
    }
    .footer-saction-3 h5 {
        font-size: 18px;
    }
    .footer-saction-2 ul li a {
        font-size: 15px;
        margin-bottom: 10px;
    }
    .footer-content-right p {
        font-size: 15px;
    }
    .footer-content-right a {
        font-size: 15px;
    }
    .footer-bottom h4 {
        font-size: 15px;
    }
    .footer-bottom h4 a {
        font-size: 16px;
    }
}
@media all and (max-width:992px){
    .navbar-brand img {
        width: 120px;
    }
    .slider-saction {
        height: 60vh;
    }
    .slider-text h1 {
        font-size: 40px;
    }
    .logo-tag {
        padding-top: 50px;
        padding-bottom: 35px;
    }
    .default-heading h3 {
        font-size: 22px;
        margin-top: 6px;
    }
    .default-heading p {
        line-height: 1.7;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .about-img-info {
        bottom: 10px;
        right: 67px;
        width: 110px;
        height: 110px;
    }
    .about-img-info h2 {
        font-size: 30px;
    }
    .about-img-info h5 {
        width: 80%;
    }
    .default-heading ul {
        margin-top: 5px;
        margin-bottom: 14px;
    }
    .process {
        padding-top: 50px;
        padding-bottom: 80px;
    }
    .process-card-item .card-body h4 {
        font-size: 22px;
        margin: 20px 0;
    }
    .process-card-item .card-body h6 {
        font-size: 16px;
        line-height: 1.7;
        padding-bottom: 30px;
    }
    .process-img img {
        max-width: 100%;
        display: block;
        margin: auto;
        margin-top: 25px;
        width: 70%;
    }
    .animate-btn-img {
        width: 55px;
        height: 55px;
    }
    .animate-btn {
        width: 80px;
        height: 80px;
    }
    .default-title h6 {
        font-size: 15px;
    }
    .default-title h3 {
        font-size: 28px;
    }
    .default-title p {
        font-size: 15px;
        max-width: 85%;
    }
    .loan-left h1 {
        font-size: 24px;
    }
    .loan-item-right h4 {
        font-size: 20px;
    }
    .lli::before {
        left: 4.7%;
        height: calc(100% - 110px);
    }
    .load-item-left span {
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 18px;
    }
    .loan-right {
        padding: 50px 10px;
    }
    .loan-right h2 {
        font-size: 25px;
        margin-top: 5px;
    }
    .loan-right h6 {
        font-size: 15px;
    }
    .call-sec-item-left h1 {
        font-size: 22px;
    }
    .call-sec-item-right-img {
        width: 42px;
        height: 42px;
        line-height: 42px;
        flex-shrink: 0;
    }
    .call-sec-item-right-img img {
        width: 20px;
    }
    .call-sec-item-right a {
        font-size: 20px;
    }
    .call-sec-item {
        padding: 35px 30px;
    }
    .value-left > .default-title > h2 {
        font-size: 25px;
    }
    .value-right-img img {
        width: 65%;
        display: block;
        margin: auto;
    }
    .service {
        padding-top: 70px;
        padding-bottom: 50px;
    }
    .service-nav li a.active::before {
        display: none;
        visibility: hidden;
        opacity: 0;
    }
    .service-nav li a span i {
        width: 50px;
        height: 50px;
        font-size: 24px;
        line-height: 50px;
    }
    .service-nav li a h3 {
        font-size: 12px;
    }
    .service-media-text h4 {
        font-size: 17px;
    }
    .service-media-text ul li a {
        font-size: 14px;
        margin-bottom: 5px;
    }
    .client-media-text p {
        font-size: 16px;
        margin-top: 45px;
        margin-bottom: 10px;
    }
    .client-carousel-indiacators {
        right: 40px;
    }
    .client-media-text .c-title {
        font-size: 15px;
    }
    .client-media-text .c-subtitle {
        font-size: 14px;
        margin-top: 8px;
    }
    .client-media-img-icon {
        top: 110px;
        left: 53px;
    }
    .client {
        padding: 50px 0;
    }
    .team-member-item {
        margin-bottom: 20px;
        text-align: center;
    }
    .team-member-img img {
        width: 100%;
    }
    .story {
        padding: 50px 0;
    }
    .story-item {
        margin-bottom: 20px;
    }
    .story-item .card-body img {
        width: 100%;
        display: block;
    }
    .story-item .card-body {
        padding: 0 60px !important;
    }
    .story-item .card-body .card-text {
        font-size: 25px;
        display: block;
    }
    .footer-section1 {
        margin-bottom: 40px;
    }
    .footer {
        padding-top: 80px;
        padding-bottom: 60px;
    }
    .footer-section1 img {
        width: 130px;
    }
    .slider {
        background-attachment: scroll;
    }
}
@media all and (max-width:768px){
    .navbar-brand img {
        width: 105px;
    }
    .header {
        position: relative !important;
    }
    .slider-text h1 {
        font-size: 30px;
        width: 70%;
    }
    .slider-text h6 {
        font-size: 15px;
    }
    .slider-text p {
        margin-bottom: 1.2rem;
        width: 70%;
    }
    .slider-saction {
        height: 50vh;
    }
    .logo-tag-img {
        overflow: hidden;
    }
    .logo-tag-img ul li img {
        max-width: 100%;
    }
    .logo-tag {
        padding-top: 40px;
        padding-bottom: 22px;
    }
    .about-img img {
        width: 60%;
        display: block;
        margin: auto;
    }
    .about-img-info {
        right: 115px;
    }
    .about-text {
        margin-top: 43px;
    }
    .about {
        padding: 60px 0;
    }
    .process-img img {
        width: 80%;
    }
    .animate-btn-img {
        width: 45px;
        height: 45px;
    }
    .animate-btn {
        width: 65px;
        height: 65px;
    }
    .card-logo {
        height: 80px;
        width: 80px;
    }
    .card-logo-item-1 {
        height: 55px;
        width: 55px;
    }
    .process-card-item {
        width: 70%;
        margin: auto;
        margin-top: 0 !important;
    }
    .default-title h3 {
        font-size: 30px;
    }
    .default-title p {
        font-size: 16px;
        max-width: 100%;
    }
    .loan-left {
        margin-top: 20px;
        margin-bottom: 50px;
    }
    .loan-item-right h4 {
        font-size: 22px;
    }
    .loan-item-right p {
        line-height: 1.7;
        font-size: 16px;
    }
    .lli::before {
        left: 4%;
    }
    .load-item-left span {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 20px;
    }
    .loan-right {
        padding: 50px 30px;
    }
    .loan-right h2 {
        font-size: 28px;
        margin-top: 8px;
    }
    .call-sec-item-left {
        margin-bottom: 25px;
        border: none;
    }
    .call-sec-item-right {
        justify-content: center;
        margin-left: 0;
    }
    .call-sec-item-right-img {
        margin-right: 20px;
    }
    .value-left > .default-title > h2 {
        font-size: 28px;
    }
    .value-item-text h4 {
        font-size: 22px;
    }
    .value-item-text p {
        font-size: 15px;
        line-height: 1.8;
    }
    .value-right-img img {
        width: 75%;
    }
    .service {
        padding-top: 50px;
        padding-bottom: 35px;
    }
    .service-nav li {
        width: 25%;
        flex-grow: unset;
    }
    .service-nav li a span i {
        width: 60px;
        height: 60px;
        font-size: 35px;
        line-height: 60px;
    }
    .service-media-img img {
        width: 50%;
        display: block;
        margin: auto;
        margin-bottom: 25px;
    }
    .service-media-text h4 {
        font-size: 19px;
    }
    .service-media-text ul {
        margin-bottom: 10px;
    }
    .client-media-img img {
        width: 50%;
    }
    .client-media-img-icon {
        top: 136px;
        left: 180px;
    }
    .client-carousel-indiacators {
        right: 5px;
    }
    .client-carousel-indiacators {
        bottom: 44%;
    }
    .client-carousel-indiacators li {
        width: 14px;
        height: 14px;
        transition: all .3s ease-in-out;
    }
    .client-carousel-indiacators li.active::after {
        width: 8px;
        height: 8px;
    }
    .footer-saction-2 {
        margin-bottom: 22px;
    }
    .footer-saction-2 ul li a {
      display: inline-block;
    }
    .client-media-text .c-title {
        text-align: center;
    }
    .client-media-text .c-subtitle{
        text-align: center;
    }
}
@media all and (max-width:576px){
    .navbar-brand img {
        width: 90px;
    }
    .slider-text h1 {
        font-size: 25px;
        width: 75%;
    }
    .slider-saction {
        height: 40vh;
    }
    .default-btn {
        font-size: 12px;
        padding: 6px 10px;
    }
    .slider-text p {
        margin-bottom: 1rem;
    }
    .slider-text-social ul li .span-1 {
        font-size: 13px;
    }
    .slider-text-social ul li a span {
        font-size: 12px;
    }
    .slider-text-social ul li a {
        padding: 0px 8px;
    }
    .process {
        padding-top: 30px;
        padding-bottom: 40px;
    }
    .process-card-item {
        width: 60%;
        padding-bottom: 30px;
    }
    .default-title h3 {
        font-size: 25px;
    }
    .default-title p {
        font-size: 15px;
    }
    .loan-left h1 {
        font-size: 22px;
    }
    .loan-item-right h4 {
        font-size: 20px;
    }
    .loan-item-right p {
        line-height: 1.6;
        font-size: 14px;
    }
    .load-item-left span {
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 15px;
    }
    .lli::before {
        left: 3%;
        height: calc(100% - 70px);
    }
    .loan-right h2 {
        font-size: 25px;
    }
    .call-sec-item-left h1 {
        font-size: 19px;
        text-align: center;
    }
    .call-sec-item-right a {
        font-size: 18px;
    }
    .call-sec-item-right-img {
        width: 35px;
        height: 35px;
        line-height: 35px;
    }
    .call-sec-item {
        padding: 15px;
    }
    .call-sec-item-left {
        margin-bottom: 10px;
    }
    .value-left > .default-title > h2 {
        font-size: 23px;
    }
    .value-item-text h4 {
        font-size: 18px;
    }
    .value-item-text p {
        font-size: 14px;
        line-height: 1.5;
    }
    .value-item-icon img {
        width: 30px;
    }
    .value-item-icon {
        margin-right: 12px;
    }
    .value-right-img img {
        width: 65%;
    }
    .value {
        padding: 40px 0;
    }
    .service-media-img img {
        width: 40%;
        margin-bottom: 15px;
    }
    .service-media-text h4 {
        font-size: 18px;
        margin-bottom: 5px;
    }
    .service {
        padding-top: 30px;
        padding-bottom: 20px;
    }
    .service-nav li a span i {
        width: 40px;
        height: 40px;
        font-size: 25px;
        line-height: 40px;
    }
    .service-nav li {
        width: 33.33%;
    }
    .client-media-text p {
        font-size: 14px;
        margin-top: 0;
        margin-bottom: 10px !important;
    }
    .client-media-img img {
        width: 40%;
    }
    .client-media-img-icon {
        top: 95px;
        left: 188px;
    }
    .team-member-item {
        width: 80%;
        margin: auto;
        margin-bottom: 20px;
    }
    .story-item .card-body .card-text {
        font-size: 20px;
    }
    .story-item {
        margin-bottom: 10px;
    }
    .footer-section1 img {
        width: 115px;
    }
    .footer {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .footer-section1 p {
        line-height: 1.6;
        font-size: 14px;
    }
    .footer-saction-2 h5 {
        padding-bottom: 10px;
        margin-bottom: 5px;
        font-size: 18px;
    }
    .footer-saction-2 ul li a {
        font-size: 14px;
        margin-bottom: 10px;
    }
    .footer-content-left {
        flex-basis: 8%;
    }
    .footer-content-right a {
        font-size: 14px;
    }
    .footer-content-right p {
        font-size: 14px;
    }
}

@media all and (max-width:400px){
    .navbar-brand img {
        width: 75px;
    }
    .slider-text h1 {
        font-size: 20px;
        width: 75%;
    }
    .slider-text p {
        margin-bottom: .7rem;
        font-size: 13px;
        margin-top: .5rem;   
    }
    .default-btn {
        padding: 5px 8px;
    }
    .logo-tag {
        padding-top: 40px;
        padding-bottom: 22px;
        display: none;
    }
    .about-img-info {
        right: 60px;
        bottom: 0px;
        width: 90px;
        height: 90px;
    }
    .about-img-info h2 {
        font-size: 25px;
    }
    .default-heading h3 {
        font-size: 20px;
    }
    .about {
        padding: 30px 0;
    }
    .process-img h6 {
        font-size: 14px;
    }
    .process-img h2 {
        font-size: 22px;
    }
    .animate-btn {
        width: 50px;
        height: 50px;
        top: -96px;
        left: 49%;
    }
    .animate-btn-img {
        width: 35px;
        height: 35px;
    }
    .process-card-item {
        width: 95%;
    }
    .default-title h3 {
        font-size: 21px;
    }
    .loan-left h1 {
        font-size: 19px;
    }
    .loan-left {
        margin-top: 0px;
    }
    .lli::before {
        left: 4%;
        height: calc(100% - 80px);
    }
    .loan-item-right h4 {
        font-size: 18px;
    }
    .loan-item-right p {
        line-height: 1.5;
        font-size: 13px;
    }
    .loan-right {
        padding: 30px 10px;
    }
    .loan-right h2 {
        font-size: 21px;
    }
    .loan-right h6 {
        font-size: 14px;
        margin-bottom: 0;
    }
    .loan-right-form label {
        font-size: 15px;
    }
    .loan-right-form input {
        height: 40px;
    }
    .loan-right-form select {
        height: 40px;
    }
    .call-sec-item-left h1 {
        font-size: 17px;
    }
    .call-sec-item-right a {
        font-size: 16px;
    }
    .call-sec-item-right-img img {
        width: 16px;
    }
    .call-sec-item-right-img {
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
    .value-left > .default-title > h2 {
        font-size: 22px;
        margin-bottom: 0 !important;
    }
    .value-item-text h4 {
        font-size: 17px;
        margin-bottom: 5px;
    }
    .value-right-img {
        margin-top: 35px;
    }
    .service-nav li {
        width: 33.33%;
    }
    .client-media-img-icon {
        display: none;
        visibility: hidden;
        opacity: 0;
    }
    .client-carousel-indiacators {
        bottom: 30%;
    }
    .story-item .card-body {
        padding: 0 10px !important;
    }
    .story-item .card-body .card-text {
        font-size: 18px;
    }
    .footer-section1 img {
        width: 100px;
    }
    .footer-section1 p {
        line-height: 1.6;
        font-size: 13px;
    }
    .footer-saction-2 h5 {
        font-size: 17px;
    }
    .footer-saction-2 ul li a {
        font-size: 13px;
        margin-bottom: 8px;
    }
    .footer-content {
        margin-bottom: 12px !important;
    }
    .footer-saction-3 h5 {
        font-size: 17px;
    }
    .footer-bottom h4 {
        font-size: 14px;
    }
    .footer-bottom h4 a {
        font-size: 15px;
    }
}



/* Responsive for page.html */

@media all and (max-width:1200px){
    .breadcrumb-saction h2 {
        font-size: 42px;
    }
    .breadcrumb-saction {
        padding: 100px 0;
    }
    .p-about-company-img .img-2 {
        top: 160px;
        left: 140px;
        width: 70%;
    }
    .p-about-company-text h3 {
        font-size: 70px;
    }
    .p-about-company-text {
        left: 55px;
        bottom: -73px;
        padding: 15px 15px !important;
    }
    .p-about-company {
        padding: 80px 0;
    }
    .p-client-blog {
        padding: 60px 0;
    }
    .p-client-blog-item .card-body p {
        line-height: 1.7;
        font-size: 15px;
        margin-top: 18px;
    }
    .p-client-blog-item::before {
        font-size: 65px;
        top: 10px;
        right: 28px;
    }
}


@media all and (max-width:1090px){
    ul.header-menu li a {
        padding: 15px 8px;
    }
}
@media all and (max-width:992px){
    .p-about-company-img .img-2 {
        display: none;
    }
    .p-about-company-text {
        bottom: -48px;
    }
    .p-about-company-text h3 {
        font-size: 60px;
    }
    .p-about-company {
        padding: 60px 0;
        overflow: hidden;
    }
    .p-client-blog-item {
        padding: 50px !important;
    }
    .p-client-blog-item .card-body p {
        line-height: 1.8;
        font-size: 17px;
        margin-top: 20px;
    }
}
@media all and (max-width:768px){
    .about-text {
        margin-top: 100px;
    }
    .breadcrumb-saction {
        padding: 80px 0;
    }
    .breadcrumb-saction h2 {
        font-size: 35px;
    }
    .p-client-blog-item {
        padding: 30px !important;
    }
    .p-client-blog-item .card-body p {
        line-height: 1.6;
        font-size: 15px;
        margin-top: 18px;
    }
    .p-client-blog-title h6 {
        margin-bottom: 5px;
    }
    .p-client-blog-item::before {
        font-size: 50px;
        top: 15px;
        right: 50px;
    }
    .p-client-blog {
        padding: 50px 0;
    }
    .p-about-company-img {
        text-align: center;
    }
    .p-about-company-text {
        bottom: -48px;
        left: 60px;
    }
}
@media all and (max-width:576px){
    .p-about-company-text h3 {
        font-size: 55px;
    }
    .p-about-company-text {
        bottom: -43px;
        left: 65px;
    }
    .breadcrumb-saction h2 {
        font-size: 30px;
    }
    .breadcrumb-saction {
        padding: 70px 0;
    }
    .contact-breadcrumb-saction {
        background-attachment: unset;
    }
}
@media all and (max-width:480px){
    .process-card-item {
        width: 75%;
    }
    .breadcrumb-saction {
        padding: 60px 0;
    }
}
@media all and (max-width:420px){
    .p-client-blog-item .card-body p {
        line-height: 1.5;
        font-size: 14px;
    }
    .p-client-blog-item::before {
        font-size: 40px;
        top: 28px;
        right: 30px;
    }
    .p-about-company-text h3 {
        font-size: 50px;
    }
    .p-about-company-text p{
        font-size: 14px;
    }
    .p-about-company-text {
        bottom: -43px;
        left: 45px;
    }
}





/* Repsonsive for news.html */

@media all and (max-width:1200px){
    .default-title h3 {
        margin-bottom: 25px;
        width: 70% !important;
    }
    .c-contact-saction .title {
        font-size: 22px;
        margin-bottom: 25px;
    }
    .c-finix-contact-item-text h4 {
        font-size: 18px;
    }
    .c-finix-contact-item-logo span {
        font-size: 25px;
    }
    .c-finix-contact-item-text ul li {
        font-size: 14px;
    }
    .c-finix-contact-item-text P {
        font-size: 14px;
    }
}
@media all and (max-width:992px){
    .default-title h3 {
        margin-bottom: 22px;
        width: 90% !important;
    }
    .default-title h3 {
        font-size: 25px;
    }
    .c-finix-contact-item-logo {
        flex-basis: 6%;
    }
    .c-finix-contact-item-text {
        flex-basis: 90%;
    }
    .c-finix-contact-item-text ul li {
        font-size: 15px;
    }
    .c-finix-contact-item-text P {
        font-size: 15px;
    }
}
@media all and (max-width:768px){
    .default-title h3 {
        width: 100% !important;
    }
    .c-finix-contact-item-logo {
        flex-basis: 8%;
    }
}
@media all and (max-width:576px){
    .default-title h3 {
        font-size: 22px;
    }
}
@media all and (max-width:400px){
    .default-title h3 {
        font-size: 18px;
    }
    .c-contact-saction .title {
        font-size: 18px;
        margin-bottom: 15px;
    }
    .c-finix-contact-item-logo {
        flex-basis: 12%;
    }
    .c-finix-contact-item-text {
        flex-basis: 80%;
    }
    .c-finix-contact-item-text ul li {
        font-size: 14px;
    }
    .c-finix-contact-item-text h4 {
        font-size: 15px;
    }
    .c-finix-contact-item-logo span {
        font-size: 20px;
    }
    .c-finix-contact-item-text P {
        font-size: 14px;
    }
}